@model IEnumerable<CRM_AGD.Areas.Address.Models.StreetPrefix>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Prefix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Prefix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StreetPrefixId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StreetPrefixId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StreetPrefixId })
        </td>
    </tr>
}

</table>
